.history-list {
  display: flex;
  padding: 10px;
  align-items: center;
  list-style-type: none;
  font-family: Roboto;
}

.time {
  color: #475569;
  font-weight: 600;
  width: 150px;
}
.site-details {
  display: flex;
  align-items: center;
  width: 80%;
}
.logo {
  height: 22px;
  width: 22px;
  margin-right: 20px;
}
.title {
  color: #475569;
  font-weight: 600;
  margin-right: 15px;
}
.url {
  color: #64748b;
  margin-right: 15px;
}
.delete-img {
  height: 20px;
  width: 20px;
}
.delete-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
